@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
  color: #232323;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table th,
td {
  padding: 20px 10px;
  text-align: start;
  border-bottom: 1px solid rgb(233, 230, 230);
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.bullet-list {
  list-style-type: circle;

  padding-left: 22px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.bullet-list li a:hover,
li:hover {
  color: #029e9d; /* Change text color on click */
}
.bullet-list li a {
  color: black; /* Change text color on click */
}
input[type="radio"] {
  width: 18px;
  height: 18px;
}
.content::-webkit-scrollbar {
  display: none;
}

th {
  position: sticky;
  top: 0;
  z-index: auto;
  background-color: white;  
}
.Table-container::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* This sets the scaled height */
  transform: scaleY(0.5); /* Scale the entire scrollbar down */
}
.Table-container::-webkit-scrollbar-thumb {
  background-color: #949393; /* Color of the scrollbar thumb */
  /* Border radius of the scrollbar thumb */
}

.Table-container::-webkit-scrollbar-track {
  background-color: #e7e2e2; /* Color of the scrollbar track */
}
li {
  padding-left: 5px;
}
.active-page {
  background-color: hsl(180, 82%, 35%);
  color: white;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  display: none;
}
.nav-list {
  height: 28px;
  align-items: center;
  font-size: 14px;
}

.nav-list:hover {
  padding-left: 10px;
  transition-duration: 400ms;
  color: #11a4a3;
  list-style-type:disc;

}

.nav-button {
  height: 42px;
}
.nav-btn-boder {
  border-bottom: 0.5px dashed rgb(228, 225, 225);
} 

.button-div {
  padding-left: 8px;
}

.nav-ul {
  border-bottom: px solid rgb(228, 225, 225);
}
.list-type {
  padding: 0px 0px 9px 15px;
  list-style-type: circle !important;
}
.shadows {
  box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
  border-radius: 10px;
}


table tr {
  border-bottom: 1px solid rgb(228, 225, 225);
  background-color: white;
}
table > tr > td {
  padding: 8px 25px;
  width: 131px;
  height: 59px;
  text-align: left;
}
table th {
  padding: 44px 25px 20px 10px;
  text-align: left;
  background-color: white;
  font-weight: 600;
  z-index: auto;
  background-color: white;
  white-space: nowrap;
  
}
tr:nth-child(even) {
  background-color: #fbfbfb !important;
}

@media only screen and (min-width: 375px) {
  .table td,
  th {
    padding: 8px 34px;
  }
}
@media only screen and (min-width: 425px) {
  .table td,
  th {
    padding: 8px 42px;
  }
}

@media only screen and (min-width: 768px) {
  .table td,
  th {
    padding: 8px 56px;
  }
}
@media only screen and (min-width: 1440px) {
  .table td,
  th {
    padding: 20px 15px;
  }
}

.add-candidate {
  outline: none;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 6px;
}
.Export-button {
  background-color: #029e9d !important;
  color: white !important;
  padding: 12px 18px !important;
  border-radius: 12px !important;
  display: flex !important;
  align-items: center;
  font-size: 15px;
}
.Export-button:hover {
  background-color: #fdc703 !important;
  transition-duration: 500ms;
}

.dialog-button:hover {
  background-color: #fdc703 !important;
  transition-duration: 500ms;
}

.dialoge-input {
  outline: none;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
}

.navbar-ul {
  list-style-type: circle;
}

.menu-bar {
  transition-duration: 100ms;
}

.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(43, 192, 147);
  border-radius: 50%;
  position: absolute;
  top: 18px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.navbar-list {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
}     


.navbar-icon {
  text-align: center;
  font-size: 14px;
  color: #6a6b6b;
}
.Navication-button {
  background-color: white !important;
  color: #029e9d !important;
  padding: 8px 15px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center;
  border: 1px solid rgb(228, 225, 225);
}
.Navication-button:hover {
  background-color: #029e9d !important;
  color: white !important;
}
.Navication-button-1 {
  background-color: #029e9d !important;
  color: white !important;
  padding: 8px 15px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center;
  border: 1px solid rgb(228, 225, 225);
}

.anchor-tag:hover {
  color: #0d6efd;
}
.add-vacancy-form {
  box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
  border-radius: 10px;
  background-color: white;
}
.action-buttons {
  display: flex;
  gap: 8px;
  color: #029e9d;
  justify-content: start;
  font-size: 20px;
}

.tb-icon{
  display: flex;
}

.tb-icon:hover {
  color: #0d6efd;
}

.custom-list {
  list-style-type: circle;
}
.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.bullet-list {
  list-style-type: circle;
  padding-left: 20px;
}

.select{
  background-color: white !important;
  background: rgba(255,255,255) !important;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);


/* a, a:hover, a:focus {
    text-decoration: none;
    transition: 0.5s;
    outline: none;
} */

/* -----Search-filter */
/* .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #475f7b;
    background-color: #fff;
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */
/* .form-control:focus {
    color: #475f7b;
    background-color: #fff;
    border-color: #5a8dee;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
} */
/* .card {
     box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
    background-color: #fff;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #475f7b;
    overflow: hidden;
} */
.pagination-data{
  padding: 0;
  margin: 0;
}
.pagination-data li{
  list-style:none;
}
.table-filter-info{
  padding : 15px;
}
.thead-primary tr th {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #fff;
}

.rc-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .rc-pagination {
    display: flex;
    align-items: center;
    justify-content: start;
}}
.rc-pagination-item,
.rc-pagination-prev, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-next {
    margin-right: 8px;
}

.rc-pagination-total-text{
  margin-right: 12px;
  cursor: initial;
}

.rc-pagination-jump-next, 
.rc-pagination-jump-prev, 
.rc-pagination-next, 
.rc-pagination-prev {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    color: rgba(0,0,0,.85);
    font-family: Arial;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;
}
.rc-pagination-jump-next button, 
.rc-pagination-jump-prev button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
}
.rc-pagination-jump-next button:after, 
.rc-pagination-jump-prev button:after {
    display: block;
    content: "•••";
}
.rc-pagination-item, 
.rc-pagination-prev, 
.rc-pagination-next, 
.rc-pagination-total-text {
    min-width: initial;
    height: auto;
    line-height: initial;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rc-pagination-item a, 
.rc-pagination-item button, 
.rc-pagination-prev a, 
.rc-pagination-prev button, 
.rc-pagination-next a, 
.rc-pagination-next button,
.rc-pagination-total-text a, 
.rc-pagination-total-text button {
    padding: 6px 8px;
    height: auto;
    min-width: 32px;
    min-height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #656f84 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a, 
.rc-pagination-item.rc-pagination-item-active a:hover, 
.rc-pagination-prev.rc-pagination-item-active a, 
.rc-pagination-prev.rc-pagination-item-active a:hover, 
.rc-pagination-next.rc-pagination-item-active a, 
.rc-pagination-next.rc-pagination-item-active a:hover, 
.rc-pagination-total-text.rc-pagination-item-active a, 
.rc-pagination-total-text.rc-pagination-item-active a:hover {
    background-color: #029e9d;
    border-color: #029e9d;
    color: #ffffff !important;
}
.rc-pagination-item a:hover, 
.rc-pagination-item button:hover, 
.rc-pagination-prev a:hover, 
.rc-pagination-prev button:hover, 
.rc-pagination-next a:hover, 
.rc-pagination-next button:hover, 
.rc-pagination-total-text a:hover, 
.rc-pagination-total-text button:hover {
    background-color: #eceff5;
    border-color: #eceff5;
}
a:hover{
  color:#029e9d;
  text-decoration: none;
  
}
/* -------------------------------------------------------- */
.hide-scroll {
  overflow-x: auto;
  max-width: 100%;
}

/* Styling the scrollbar track (background) */
.hide-scroll::-webkit-scrollbar {
  width: 8px; /* Set the width to 5px */
  height: 8px; /* Height of the horizontal scrollbar */

}

/* Styling the scrollbar thumb (the draggable part) */
.hide-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(235, 228, 228); /* Change to your preferred color */
  border: 2px solid rgb(235, 228, 228); /* Add a border to the thumb */
  border-radius: 3px; /* Rounded corners */
}

/* Optional: To style the table headers or data cells */
.scrolling-table th {
  background-color: #f0f0f0;
  /* Add more styles */
}

.scrolling-table td {
  border: 1px solid #ddd;
  /* Add more styles */
}